@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --bg-color: #ffffff;
  --text-color: #1a1a1a;
  --text-primary-color: #004e93;
  --text-secondary-color: #1a1a1a;
  --listing-text-color: #1a1a1a;
  --description-text-color: #1a1a1a;
  --btn-bg-color: #b3b3b3;
  --btn-border-color: #b5b5b5;
}

/* Dark Mode CSS */
.dark-theme {
  --bg-color: #111111;
  --text-color: #ffffff;
  --text-primary-color: #004e93;
  --text-secondary-color: #c4c4c4;
  --listing-text-color: #c4c4c4;
  --description-text-color: #f0f0f0;
}

* {
  background: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Navigation Bar Style */
.navbar {
  background: var(--bg-color);
  --bs-navbar-toggler-focus-width: 0 !important;
}

.nav-container {
  padding: 0 3rem;
}

.navbar-brand,
.nav-item a {
  color: var(--text-color);
}

#theme-change-desktop .bright-mode {
  display: none;
}

.navbar-brand:focus,
.navbar-brand:hover {
  color: var(--text-color);
}

.nav-link:focus,
.nav-link:hover {
  color: var(--text-color);
}

.nav-item button i,
.nav-item button i:hover,
.nav-item button i:active {
  color: var(--text-color);
  background: var(--bg-color);
}

.btn-close i {
  font-size: 1.5rem !important; /* Adjust icon size */
  color: var(--text-color) !important;
  --bs-btn-close-opacity: 1 !important;
}

/* Common Styles */
ul {
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--text-color);
}

.section-title {
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--text-color);
}

.name {
  font-size: 96px;
  font-weight: 700;
  background-image: linear-gradient(to right, #9845e8, #33d2ff, #dd5789);
  -webkit-background-clip: text; /* For WebKit (Safari, Chrome) */
  background-clip: text;
  color: transparent;
  display: inline-block;
}

.section-breaker {
  width: 100%;
  border: 1px solid var(--text-color);
  opacity: 0.2;
}

.section-container {
  padding: 3rem;
}

.column-margin {
  margin-bottom: 3rem;
}

.column-margin:last-child {
  margin-bottom: 0rem;
}

/* About Me Style */
.about-short-summary {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--description-text-color);
  margin-bottom: 1rem;
}

/* Experience Style */
.experience-section-container {
  display: flex;
  align-items: start;
  gap: 10rem;
}

.experience-summary {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.position-name {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}

.company-name {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: var(--text-primary-color);
}

.time-duration p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.responsibilites {
  list-style-type: none;
  padding-left: 0;
}

ul.responsibilites li::before {
  content: "-";
  margin-right: 10px;
  font-weight: bold;
}

.responsibilites li {
  color: var(--listing-text-color);
  margin-bottom: 5px;
}

.responsibilites li:last-child {
  margin-bottom: 0px;
}

/* Sample Projects Style */
.sample-project-container {
  position: relative;
  overflow: hidden;
}

.sample-project-image {
  position: relative;
}

.sample-project-image img {
  width: 100%;
}

.sample-project-description {
  padding: 15px 0 0;
}

.project-title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.project-title h3 {
  font-size: 24px;
  font-weight: 400;
  word-break: break-word;
}

.project-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.project-links i {
  font-size: 20px;
}

.project-summary p {
  font-size: 16px;
  line-height: 24px;
  color: var(--listing-text-color);
  font-weight: 300;
}

ul.project-tools {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
  color: var(--text-primary-color);
}

ul.project-tools li {
  position: relative;
  font-size: 14px;
  line-height: 24px;
  color: var(--text-primary-color);
}

ul.project-tools li:not(:last-child)::after {
  content: " -";
  position: absolute;
  right: -11px;
}

/* Footer Style */
.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-sites {
  display: flex;
  align-items: center;
  gap: 70px;
}

.social-sites button {
  background: transparent;
  border: 2px solid #c6c6c6; /* Stroke color */
  padding: 10px 35px;
  font-size: 16px;
  color: var(--text-color);
  cursor: pointer;
  border-radius: 4px; /* Adjust if you need rounded corners */
  text-align: center;
}

.social-sites button:hover {
  background-color: var(--btn-bg-color);
  border-color: var(--btn-border-color);
}

.social-sites button:hover > div,
.social-sites button:hover > div > i,
.social-sites button:hover > div > i + span {
  background-color: var(--btn-bg-color);
  border-color: var(--btn-border-color);
}

.social-sites button span {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

/* Extra Large Screen Media Query >= 1200px */
@media screen and (min-width: 1200px) and (max-width: 1339.98px) {
  /* Experience Section Style */
  .experience-section-container {
    gap: 5rem;
  }

  /* Footer Style */
  .social-sites {
    gap: 50px;
  }
}

/* Large Screen Media Query >= 992px */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  /* About Me Style */
  .name {
    font-size: 80px;
  }

  /* Experience Section Style */
  .experience-section-container {
    gap: 3rem;
  }

  /* Footer Style */
  .social-sites {
    gap: 15px;
  }
}

/* Medium Screen Media Query >= 768px */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  /* Common Styles */
  .section-container {
    padding: 2rem;
  }

  /* Navigation Bar Style */
  .navbar.p-3 {
    padding: 0.5rem !important;
  }

  .nav-container {
    padding: 0 1.8rem;
  }

  ul.navbar-nav {
    align-items: start !important;
  }

  #theme-change-mobile .bright-mode {
    display: none;
  }

  /* About Me Style */
  .name {
    font-size: 55px;
  }

  /* Experience Section Style */
  .experience-section-container {
    display: grid;
    gap: 0.5rem;
  }

  .column-margin {
    margin-bottom: 2rem;
  }

  /* Footer Style */
  .footer-content {
    display: grid;
    gap: 0.5rem;
  }

  .social-sites button {
    padding: 10px 25px;
  }

  .social-sites {
    gap: 25px;
  }
}

/* Small Screen Media Query >= 576px */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
  /* Common Styles */
  .section-container {
    padding: 1rem 0;
  }

  /* Navigation Bar Style */
  .nav-container {
    padding: 0 !important;
  }

  .navbar.p-3 {
    padding: 0.25rem !important;
  }

  ul.navbar-nav {
    align-items: start !important;
  }

  #theme-change-mobile .bright-mode {
    display: none;
  }

  /* About Me Style */
  .name {
    font-size: 55px;
  }

  /* Experience Section Style */
  .experience-section-container {
    display: grid;
    gap: 0.5rem;
  }

  .position-name,
  .company-name {
    margin-bottom: 5px !important;
  }

  .experience-summary {
    display: grid;
    gap: 0;
  }

  .time-duration p {
    margin-bottom: 5px !important;
  }

  .column-margin {
    margin-bottom: 2rem;
  }

  /* Footer Style */
  .footer-content {
    display: grid;
    gap: 0.5rem;
  }

  .social-sites button {
    padding: 10px 18px;
  }

  .social-sites {
    gap: 5px;
  }
}

/* Extra Small Screen Media Query <576px */
@media screen and (max-width: 575.98px) {
  /* Common Styles */
  .section-container {
    padding: 1rem 1.5rem;
  }

  /* Navigation Bar Style */
  .nav-container {
    padding: 0.25rem !important;
  }

  .navbar.p-3 {
    padding: 0 1rem !important;
  }

  .offcanvas.offcanvas-end {
    width: 75% !important;
  }

  #theme-change-mobile .bright-mode {
    display: none;
  }

  ul.navbar-nav {
    align-items: start !important;
  }

  /* About Me Style */
  .name {
    font-size: 35px;
  }

  /* Experience Section Style */
  .experience-section-container {
    display: grid;
    gap: 0.5rem;
  }

  .position-name,
  .company-name {
    margin-bottom: 0 !important;
  }

  .position-name {
    font-size: 20px;
  }

  .experience-summary {
    display: grid;
    gap: 0;
  }

  .time-duration p {
    margin-bottom: 5px !important;
  }

  .responsibilites li {
    font-size: 14px;
    text-align: justify;
  }

  .column-margin {
    margin-bottom: 2rem;
  }
}

/* Footer Style >=425 && <= 575 */
@media screen and (min-width: 559px) and (max-width: 575.98px) {
  /* Footer Style */
  .footer-content {
    display: grid;
    gap: 0.5rem;
  }

  .social-sites button {
    padding: 10px 12px;
  }

  .social-sites {
    display: flex;
    gap: 12px;
  }
}

@media screen and (max-width: 558.98px) {
  /* Footer Style */
  .footer-content {
    flex-direction: column !important;
    align-items: baseline !important;
    gap: 0.5rem;
  }

  .social-sites button {
    padding: 10px 12px;
  }

  .social-sites {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 10px;
    width: 100% !important;
  }
}
